$input-size: 14px;
$form-focus-color: #36c;
$white-color: #f9f9f9;
$bg-color: #343434;

%form-state {
	font-size: $input-size;
    line-height: $input-size;
    border: 1px solid #a2a9b1;
    color: #202122;
}