@use 'components'as c;

body {
    background-color: c.$white-color;
    color: #343434;
}

code {
    white-space: pre;
}

textarea {
    height: 90vh;
    width: 80%;
}

a {
    color: inherit;
}

a:hover {
    text-decoration: none;
}

ul,
li {
    list-style-type: none;
    list-style-position: inside;
    margin: 0;
    padding: 0;
}

.row {
    width: 100vw;

    .sidebar {
        position: relative;
        background-color: #e0e0e2;
        height: 100vh;
        padding-right: 0 !important;

        .header-box {
            padding: 15px 0 8px 0;
            background-color: #E45441;
            color: c.$white-color;
            text-align: center;

            h2 {
                cursor: default;
            }
        }

        form {
            display: flex;
            position: relative;
            margin: 10px 5px 0 5px;

            .search-icon-box {
                position: absolute;
                left: 5px;
                height: 100%;

                img {
                    height: 70%;
                    opacity: 0.7;
                }
            }

            .search {
                @extend %form-state;
                border-radius: 2px;
                border-right-color: transparent;
                padding: 4px 8px 4px 25px;
            }

            .search:hover {
                border-color: #72777d;
            }

            .search:focus {
                border-color: c.$form-focus-color;
                box-shadow: inset 0 0 0 1px c.$form-focus-color;
                outline: 1px solid transparent;
            }

            input[type="submit"] {
                @extend %form-state;
                font-weight: bold;
                padding: 4px;
                border-left-width: 0;
                background-color: #f8f9fa;
            }

            input[type="submit"]:hover {
                background-color: white;
                color: #404244;
            }
        }

        .page-links {
            padding: 5px 10px;
            color: #343434;

            .links-label {
                margin: 20px 0 20px 5px;
                font-size: 0.8rem;
                font-weight: bold;
            }

            .link {
                margin-bottom: 15px;
            }
        }
    }

    .main {
        padding: 10px;
        background-color: c.$white-color;

        h1 {
            margin: 25px 0 20px 30px;
            font-size: 2rem;
            font-weight: bold;
            color: #757575;
        }

        .divider {
            width: 100%;
            border: 1px solid rgba(0, 0, 0, 0.11);
            margin-bottom: 20px;
        }

        .entries {
            padding: 0 20px;

            a:hover {
                color: inherit;
            }

            .entry {
                padding: 1rem;
                margin-bottom: 20px;
                width: 100%;
                box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.11), 0 5px 15px 0 rgba(0, 0, 0, 0.08);
                background-color: white;
                border-radius: 0.5rem;
                border-left: 0 solid #00ff99;
                transition: border-left 300ms ease-in-out, padding-left 300ms ease-in-out;
            }

            .entry:hover {
                padding-left: 0.5rem;
                border-left-width: 0.5rem;
            }
        }
    }
}