{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="{% static 'encyclopedia/compiled/styles.css' %}" rel="stylesheet">
</head>

<body>
    <div class="row">
        <div class="sidebar col-lg-auto col-md-auto">
            <div class="header-box">
                <h2>Wiki</h2>
            </div>
            <form>
                <div class="search-icon-box">
                    <img src="{% static 'encyclopedia/search.svg' %}" alt="Search Icon">
                </div>
                <input class="search" type="text" name="q" placeholder="Search Encyclopedia">
                <input type="submit" value="Search">
            </form>
            <div class="page-links">
                <h6 class="links-label">BROWSE</h6>
                <div class="link">
                    <a href="{% url 'index' %}">
                        <img src="{% static 'encyclopedia/home.svg' %}" alt="Home Icon">
                        Home
                    </a>
                </div>
                <div class="link">
                    <a href="#">
                        <img src="{% static 'encyclopedia/edit.svg' %}" alt="Edit Icon">
                        Create New Page
                    </a>
                </div>
                <div class="link">
                    <a href="#">
                        <img src="{% static 'encyclopedia/shuffle.svg' %}" alt="Shuffle Icon">
                        Random Page
                    </a>
                </div>
            </div>
        </div>
        <div class="main col">
            {% block body %}
            {% endblock %}
        </div>
    </div>
</body>

</html>